<div style="background-color: darkgray">
    
    Here is main view at: {{today}}
    
    <br/><br/>
    <att-toggle-switch ng-model="toggleModel"></att-toggle-switch>
    <br/>
    {{toggleModel}}
    
    <br/><br />
    <input type="radio" id="radio1" name="radio" ng-model="color" value="red" />
    <label for="radio1"><span></span>Red</label>
    <br><br>

    <input type="radio" id="radio2" name="radio" ng-model="color" value="green" />
    <label for="radio2"><span></span>Green</label>
    <br><br>

    <input type="radio" id="radio3" name="radio" ng-model="color" value="blue" />
    <label for="radio3"><span></span>Blue</label>
    <br/>
    {{color}}

</div>