 .css-form input.ng-invalid.ng-dirty {
 	background-color: #FA787E;
 }

 .css-form input.ng-valid.ng-dirty {
 	background-color: #78FA89;
 }

 .css-form label.customform {
 	width: 100px;
 }

 .css-form input.customform {  
 	width: 113px;
 }