<div class="container" id="main-container">
    <div class="padding">
    <h4>(click "Show Alert")</h4>
    </div> 
    <att-alert type="danger" on-close="someClosingMethod()" show-icon="true" auto-close-interval="3000" title="Attention">
        <span>This is a danger alert!</span>
    </att-alert>
    <att-alert type="success" on-close="someClosingMethod()" show-confirmation-btn="true" button-text="OK" title="Great">
        <span>This is a success alert!</span>
    </att-alert>
</div>


<div id="options-panel">
    <label for="alertType">Alert Type:</label><br />
    <select name="alertType" ng-model="type">
        <option value="info" selected="">Info</option>
        <option value="success">Success</option>
        <option value="danger">Danger</option>
    </select><br />

    <label for="titleText">Title:</label><br />
    <input type="text" name="titleText" ng-model="title" /><br />
    <label for="alertText">Content:</label><br />
    <input type="text" name="alertText" ng-model="text" /><br />

    <label for="showIcon">Show Icon:</label><br />
    <input type="checkbox" style="display:block" name="showIcon" ng-model="showIcon" /><br />
    <label for="showConfirmationBtn">Show Confirmation Button:</label><br />
    <input type="checkbox" style="display:block" name="showConfirmationBtn" ng-model="showConfirmationBtn" /><br />
    <label for="buttonText">Confirmation Button Text:</label><br />
    <input type="text" name="buttonText" ng-model="buttonText" /><br />

    <label for="autoClose">Auto Close interval:</label><br />
    <input type="number" name="autoCloseInterval" ng-model="autoCloseInterval" /><br />
    <br />

    <button type="button" ng-click="showAlert()">Show Alert</button><br />
</div>

<div class="container" id="details-container">
    <att-tabset top-position="true">
        <att-tab heading="Description">
            <att-dynamic-content data-url="/views/alert/readme.md" markdown="true" linenums="false"></att-dynamic-content>
        </att-tab>

        <att-tab heading="Markup">
            <att-dynamic-content data-url="/views/alert/alert.html" linenums="true" markup="true"></att-dynamic-content>
        </att-tab>

        <att-tab heading="JavaScript">
            <pre class="prettyprint linenums">
                <div ng-include=" '/scripts/controllers/alert.js' "></div>
            </pre>
        </att-tab>
    </att-tabset>
</div>
