.att-header {
  color: #ccc;

  display: block;
  background-color: red;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;

  .active-screen{
    background-color: #008000;
    position: relative;
    float: left;
    display: inline-block;

    i{
      margin-right: 10px;
    }
  }

  .app-branding{
    background-color: #0000ff;
    position: relative;
    float: right;
    display: inline-block;
    vertical-align: middle;

    img{
      display: inline;
    }
  }


}




