<div class="container" id="main-container">
    <div class="padding">
    <h4>(click "Show Alert")</h4>
    <att-alert ng-repeat="alert in alerts"
        type="alert.type"
        show-icon="alert.showIcon"
        show-confirmation-btn="alert.showConfirmationBtn"
        button-text="alert.buttonText"
        on-click="alert.onClick(); removeAlert($index)"
        on-close="alert.onClose(); removeAlert($index)"
        auto-close-interval="alert.autoCloseInterval"
        title="alert.title"
        text="alert.text">
    </att-alert>
    </div>
</div>


<div id="options-panel">
    <label for="alertType">Alert Type:</label><br />
    <select name="alertType" ng-model="type">
        <option value="info" selected="">Info</option>
        <option value="success">Success</option>
        <option value="danger">Danger</option>
    </select><br />

    <label for="titleText">Title:</label><br />
    <input type="text" name="titleText" ng-model="title" /><br />
    <label for="alertText">Content:</label><br />
    <input type="text" name="alertText" ng-model="text" /><br />

    <label for="showIcon">Show Icon:</label><br />
    <input type="checkbox" name="showIcon" ng-model="showIcon" /><br />
    <label for="showConfirmationBtn">Show Confirmation Button:</label><br />
    <input type="checkbox" name="showConfirmationBtn" ng-model="showConfirmationBtn" /><br />
    <label for="buttonText">Confirmation Button Text:</label><br />
    <input type="text" name="buttonText" ng-model="buttonText" /><br />

    <label for="autoClose">Auto Close interval:</label><br />
    <input type="number" name="autoClose" ng-model="autoClose" /><br />
    <br />

    <button type="button" ng-click="showAlert()">Show Alert</button><br />
</div>

<div class="container" id="details-container">
    <att-tabset top-position="true">
        <att-tab heading="Description">
            <att-dynamic-content data-url="/views/alert/readme.md" markdown="true" linenums="false"></att-dynamic-content>
        </att-tab>

        <att-tab heading="Markup">
            <att-dynamic-content data-url="/templates/attAlert.html" linenums="true"></att-dynamic-content>
        </att-tab>

        <att-tab heading="JavaScript">
            <pre class="prettyprint linenums">
                <div ng-include=" '/scripts/controllers/alert.js' "></div>
            </pre>
        </att-tab>
    </att-tabset>
</div>
