<label for="alertType">Alert Type:</label>
<select name="alertType" ng-model="type">
    <option value="info" selected="">Info</option>
    <option value="success">Success</option>
    <option value="danger">Danger</option>
</select><br/>

<label for="titleText">Title:</label><input type="text" name="titleText" ng-model="title" /><br />
<label for="alertText">Content:</label><input type="text" name="alertText" ng-model="text" /><br />

<label for="showIcon">Show Icon:</label><input type="checkbox" name="showIcon" ng-model="showIcon" /><br />
<label for="showConfirmationBtn">Show Confirmation Button:</label><input type="checkbox" name="showConfirmationBtn" ng-model="showConfirmationBtn" /><br />
<label for="buttonText">Confirmation Button Text:</label><input type="text" name="buttonText" ng-model="buttonText" /><br />

<label for="autoClose">Auto Close interval:</label><input type="number" name="autoClose" ng-model="autoClose" /><br />

<button type="button" ng-click="showAlert()">Show Alert</button><br />

<att-alert ng-repeat="alert in alerts"
           type="alert.type"
           show-icon="alert.showIcon"
           show-confirmation-btn="alert.showConfirmationBtn"
           button-text="alert.buttonText"
           on-click="alert.onClick(); removeAlert($index)"
           on-close="alert.onClose(); removeAlert($index)"
           auto-close-interval="alert.autoCloseInterval"
           title="alert.title"
           text="alert.text">
</att-alert>
