

<div class="container" id="main-container">
    <h4>(click "Show Alert")</h4>
    <att-alert ng-repeat="alert in alerts"
               type="alert.type"
               show-icon="alert.showIcon"
               show-confirmation-btn="alert.showConfirmationBtn"
               button-text="alert.buttonText"
               on-click="alert.onClick(); removeAlert($index)"
               on-close="alert.onClose(); removeAlert($index)"
               auto-close-interval="alert.autoCloseInterval"
               title="alert.title"
               text="alert.text">
    </att-alert>
</div>


<div id="options-panel">
    <label for="alertType">Alert Type:</label><br/>
    <select name="alertType" ng-model="type">
        <option value="info" selected="">Info</option>
        <option value="success">Success</option>
        <option value="danger">Danger</option>
    </select><br/>

    <label for="titleText">Title:</label><br/>
    <input type="text" name="titleText" ng-model="title" /><br />
    <label for="alertText">Content:</label><br/>
    <input type="text" name="alertText" ng-model="text" /><br />

    <label for="showIcon">Show Icon:</label><br/>
    <input type="checkbox" name="showIcon" ng-model="showIcon" /><br />
    <label for="showConfirmationBtn">Show Confirmation Button:</label><br/>
    <input type="checkbox" name="showConfirmationBtn" ng-model="showConfirmationBtn" /><br />
    <label for="buttonText">Confirmation Button Text:</label><br/>
    <input type="text" name="buttonText" ng-model="buttonText" /><br />

    <label for="autoClose">Auto Close interval:</label><br/>
    <input type="number" name="autoClose" ng-model="autoClose" /><br />
    <br/>

    <button type="button" ng-click="showAlert()">Show Alert</button><br />
</div>

<div class="container" id="details-container">

    <att-tabset top-position="true">
        <att-tab heading="Description">
            <h2 id="Readme">Overview</h2>
            <p>Notification dialogs function the same way as modals and overlay the entire screen, with action buttons fixed at the center of the screen. Dialog animations are predefined.</p>
            <p>Tap launch dialog to see the animation. Dialogs may have a close button in the header and may rely on the challenge button requiring user action to dismiss them, or may contain timeout.</p>
        </att-tab>

        <att-tab heading="Markup">
            <pre class="prettyprint linenums">&lt;att-alert ng-repeat=&quot;alert in alerts&quot;
  type=&quot;alert.type&quot;
  show-icon=&quot;alert.showIcon&quot;
  show-confirmation-btn=&quot;alert.showConfirmationBtn&quot;
  button-text=&quot;alert.buttonText&quot;
  on-click=&quot;alert.onClick(); removeAlert($index)&quot;
  on-close=&quot;alert.onClose(); removeAlert($index)&quot;
  auto-close-interval=&quot;alert.autoCloseInterval&quot;
  title=&quot;alert.title&quot;
  text=&quot;alert.text&quot;&gt;
&lt;/att-alert&gt;</pre>
</att-tab>

        <att-tab heading="JavaScript">
            <pre class="prettyprint linenums">angular.module('connectedCarSDK')
    .controller('AlertCtrl', function ($scope) {
      $scope.customModel = true;
      $scope.runCustomCode = function () {
        alert('On Close event called');
      };
      $scope.onClose = function () {
        alert('on Close');
      };
      $scope.onClick = function () {
        alert('on Click');
      };
      $scope.alerts = [];
        
        $scope.showAlert = function () {
        $scope.alerts.push({
          type: $scope.type,
          showIcon: $scope.showIcon,
          showConfirmationBtn: $scope.showConfirmationBtn,
          buttonText: $scope.buttonText,
          onClose: $scope.onClose,
          onClick: $scope.onClick,
          autoCloseInterval: $scope.autoClose,
          title: $scope.title,
          text: $scope.text
        });
      };
        $scope.removeAlert = function (index) {
        $scope.alerts.splice(index, 1);
        };
    });</pre>
        </att-tab>
    </att-tabset>
</div>
