

<div class="container" id="main-container">
    <br/>
    &nbsp;<att-badge value="8"></att-badge>&nbsp;&nbsp; Default
    <br/><br/>
    &nbsp;<att-badge class="badge-success" value="8"></att-badge>&nbsp;&nbsp; Success
    <br/><br/>
    &nbsp;<att-badge class="badge-info" value="8"></att-badge>&nbsp;&nbsp; Info
    <br/><br/>
    &nbsp;<att-badge class="badge-warning" value="8"></att-badge>&nbsp;&nbsp; Warning
    <br/><br/>
    &nbsp;<att-badge class="badge-danger" value="8"></att-badge>&nbsp;&nbsp; Danger
    <br/><br/>
    
</div>


<div id="options-panel">
    This component has no additional options.
</div>




<div class="container" id="details-container">

    <att-tabset top-position="true">
        <att-tab heading="Description">
            <h2>Overview</h2>
            <p>A Notification badges can be used to enhance the readability of your content but It must not be used to convey status or severity without appropriate content along with it. For example, the text "6 messages" with a red badge on the number does not convey the appropriate severity. Instead, something like "6 Urgent messages" has more meaning.</p>
        </att-tab>

        <att-tab heading="Markup"><pre ng-non-bindable=""><code data-language="html">&lt;att-toggle-switch ng-model=&quot;customModel&quot;&gt;&lt;/att-toggle-switch&gt;
&lt;att-toggle-switch ng-model=&quot;customModel2&quot; disabled&gt;&lt;/att-toggle-switch&gt;
</code></pre>
        </att-tab>
        <att-tab heading="JavaScript">
            <pre ng-non-bindable=""><code data-language="html">angular.module('connectedCarSDK')
  .controller('ToggleSwitchCtrl', function ($scope) {
    $scope.customModel = true;
    $scope.customModel2 = true;
});</code></pre>
        </att-tab>
    </att-tabset>

</div>
