
<div class="row">
    <div class="col-md-9">
        <div class="container" id="main-container">
            <att-carousel interval="myInterval">
                <att-slide ng-repeat="slide in slides" active="slide.active">
                    <img src="../images/placeholder.png" alt=""/>
                    <div class="carousel-content">
                        <ul>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto at beatae commodi explicabo illo impedit, iste, nam quaerat quod reprehenderit repudiandae unde, vero voluptatem? Molestias odio recusandae ut.</p>
                    </div>
                </att-slide>
            </att-carousel>
        </div>
    </div>
    <div class="col-md-3">
        <div id="options-panel">
            <div class="row">
                <div class="col-md-6">
                    <button ng-click="addSlide()">Add Slide</button>
                </div>
                <div class="col-md-6">
                    Interval, in milliseconds:
                    <input type="number" class="form-control" ng-model="myInterval">
                    <br />
                    Enter a negative number to stop the interval.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="container" id="details-container">

            <att-tabset style="height: 340px">
                <att-tab heading="Description">
                    <p>Carousel creates a carousel similar to bootstrap's image carousel.
                    The carousel also offers support for touchscreen devices in the form of swiping. To enable swiping, load the ngTouch module as a dependency.
                    Use a &lt;carousel&gt; element with &lt;slide&gt; elements inside it. It will automatically cycle through the slides at a given rate, and a current-index variable will be kept in sync with the currently visible slide.</p>
                </att-tab>

                <att-tab heading="Markup">
                    <pre ng-non-bindable="">
                        <code data-language="html">
                                     &lt;att-carousel interval=&quot;myInterval&quot;&gt;
                                &lt;att-slide ng-repeat=&quot;slide in slides&quot; active=&quot;slide.active&quot;&gt;
                                    &lt;img src=&quot;../images/placeholder.png&quot; alt=&quot;&quot;/&gt;
                                    &lt;div class=&quot;carousel-content&quot;&gt;
                                        &lt;ul&gt;
                                            &lt;li&gt;List item&lt;/li&gt;
                                            &lt;li&gt;List item&lt;/li&gt;
                                            &lt;li&gt;List item&lt;/li&gt;
                                            &lt;li&gt;List item&lt;/li&gt;
                                            &lt;li&gt;List item&lt;/li&gt;
                                            &lt;li&gt;List item&lt;/li&gt;
                                        &lt;/ul&gt;
                                        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto at beatae commodi explicabo illo impedit, iste, nam quaerat quod reprehenderit repudiandae unde, vero voluptatem? Molestias odio recusandae ut.&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/att-slide&gt;
                            &lt;/att-carousel&gt;
                        </code>
                    </pre>
                </att-tab>

                <att-tab heading="Js">
                    <pre ng-non-bindable="">
                        <code data-language="html">
                            angular.module('connectedCarSDK')
                              .controller('CarouselCtrl', function ($scope) {
                                  $scope.myInterval = 5000;

                                  var slides = $scope.slides = [];

                                  $scope.addSlide = function () {
                                      var newWidth = 600 + slides.length + 2;
                                      slides.push({
                                          image: 'http://placekitten.com/' + newWidth + '/300',
                                          text: ['More', 'Extra', 'Lots of', 'Surplus'][slides.length % 4] + ' ' +
                                            ['Cats', 'Kittys', 'Felines', 'Cutes'][slides.length % 4]
                                      });
                                  };

                                  for (var i = 0; i < 4; i++) {
                                      $scope.addSlide();
                                  }
                              });
                        </code>
                    </pre>
                </att-tab>
            </att-tabset>

        </div>
    </div>
</div>
