<div class="row">
    <div class="col-md-9">

        <div class="container" id="main-container">

            <att-drawer>
                <att-menu items="appLinks" title="title"></att-menu>
            </att-drawer>


        </div>
</div>
    <div class="col-md-3">
        <div id="options-panel">
            <button ng-click="toggleDrawer()">Toggle drawer</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="container" id="details-container">

            <att-tabset  top-position="true">
                <att-tab heading="Description">
<h2>What's this for?</h2>
<p>And it doesn't work on top of it...</p>
                </att-tab>

                <att-tab heading="Markup">

                </att-tab>
                <att-tab heading="JavaScript">

                </att-tab>
            </att-tabset>

        </div>
    </div>
</div>
