<div class="row">
    <div class="col-md-9">
        <div class="container" id="main-container">
            <att-header app-name="ACCUWEATHER" current-item="FORECAST" app-image="/images/accuweather.png"></att-header>
        </div>
    </div>
    <div class="col-md-3">
        <div id="options-panel">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="container" id="details-container">

            <att-tabset style="height: 340px">
                <att-tab heading="Description">

                </att-tab>

                <att-tab heading="Markup">

                </att-tab>
                <att-tab heading="Js">

                </att-tab>
            </att-tabset>

        </div>
    </div>
</div>




