


<div class="container" id="main-container">
    <att-list-view title="title" items="genres" multi-select="true"></att-list-view>
</div>


<div id="options-panel">
    <span>Selected genres:</span>
    <ul>
        <li ng-repeat="genre in genres">
            <span ng-bind="genre.text"></span>:
            <span ng-bind="genre.selected"></span>
        </li>
    </ul>
</div>




<div class="container" id="details-container">

    <att-tabset top-position="true">
        <att-tab heading="Description">
<h2>Overview</h2>
<p>Menu list. Use for sorting and filtering thru large list of options and categories.</p>
        </att-tab>

        <att-tab heading="Markup">

        </att-tab>
        <att-tab heading="JavaScript">

        </att-tab>
    </att-tabset>

</div>
