<div class="container col-md-10">
<h1>Hello World!</h1>
<p>This AT&amp;T Drive Automotive App development UI Kit is built to enable you -the developer, to effortlessly create apps to be deployed on AT&amp;T Drive Automotive Services Delivery Platform.</p> 
<p>At this time this is only an UI toolkit, with a goal to by 2015 include Drive Platform APIS and become an all-around SDK.</p>
<p>Please select the component on the left to learn more about it. To create fresh Seed App with required libraries use <code>$ grunt seed</code> then look for myFirstApp folder in root.</p>
<h3>Goddies:</h3>
    <ul>
    <li><a href="#">UX Design Guidelines (PDF)</a></li>
    <li><a href="#">UX Stencil and Templates (OmniGraffle)</a></li>
    <li><a href="#">UI Design Photoshop Spine (PSD)</a></li>
    <li><a href="../../examples/accuweather/index.html">Example App: Accuweather</a></li>
    <li><a href="../../examples/exampleApp1/index.html">Example App: Hello World</a></li>
    </ul>
    
<h2>Voice is an app concept</h2>
    <p>AT&ampT Drive is a cloud based automotive services delivery platform and the apps have the ability to be fully voice enabled as part of AT&amp;T initiative to prevent distracted driving. This document, including the design guidelines and the Information Architecture stencils are simplified to enable creation of automotive apps that are effortless and distraction-free</p>
    
    <h5>Voice as an app flow:</h5>
    <img src="../images/voice-is-an-app.png" title="AT&T Drive, Voice as an app concept" width="800">
<p> </p>
    <h3>Common source code, less clutter, faster apps, better experience</h3>
<p>The intent of this toolkit is to help automotive manufacturers maintain their brand presence in the in-car digital experience. As app developer build apps from the same framework of libraries and APIs, the result is structured, seamless, easy brand-able set of applications, and as AT&amp;T Drive offers theming per vehicle make/model/trim, reusing common UI libraries and app source-code is crucial.</p>
    
    <h5>Voice-enabled apps across multiple categories:</h5>
    <img src="../images/att-drive-apps-onesheet.png" title="AT&T Example Apps" width="800">
</div>
