<div class="container col-md-10">
<h1>Hello World!</h1>
<p>This AT&amp;T Drive Automotive App development UI Kit is built to enable you -the developer, to effortlessly create apps to be deployed on AT&amp;T Drive Automotive Services Delivery Platform.</p> 
<p>At this time this is only an UI toolkit, with a goal to by 2015 include Drive Platform APIS and become an all-around SDK.</p>
<p>Please select the component on the left to learn more about it.</p>
<h3>Tools:</h3>
    <ul>
    <li><a href="https://www.dropbox.com/sh/d9pu8c0kd1rj190/AAAF6naYbZt1ZQul4rGWXUcda?dl=0">
        UX Design Guidelines (PDF)</a>
        </li>
    <li><a href="https://www.dropbox.com/sh/25pwhh2afxg7o2c/AAA4z0Ru59xFKy3ZdqqSAezda?dl=0">
        UX Stencil and Templates (OmniGraffle)</a>
        </li>
    <li><a href="https://www.dropbox.com/sh/1tn13l6m7nlawtg/AABUT7bXfByKw-Uh7dOqdEiNa?dl=0">
        UI Design Photoshop Spine (PSD)</a>
        </li>
    <li><a href="../../examples/accuweather/index.html">
        Example App: Accuweather (in examples folder)</a>
        </li>
    </ul>
    
<h2>Voice is an app concept</h2>
    <p>AT&ampT Drive is a cloud based automotive services delivery platform and the apps have the ability to be fully voice enabled as part of AT&amp;T initiative to prevent distracted driving. This document, including the design guidelines and the Information Architecture stencils are simplified to enable creation of automotive apps that are effortless and distraction-free.</p>
    
    <h5>Voice as an app flow:</h5>
    <img src="../images/voice-is-an-app.png" title="AT&T Drive, Voice as an app concept" width="800">
<p> </p>
    <h3>Common source code, less clutter, faster apps, better experience</h3>
<p>The intent of this toolkit is to help automotive manufacturers maintain their brand presence in the in-car digital experience. As app developer build apps from the same framework of libraries and APIs, the result is structured, seamless, easy brand-able set of applications, and as AT&amp;T Drive offers theming per vehicle make/model/trim, reusing common UI libraries and app source-code is crucial.</p>
    
    <h5>Voice-enabled apps across multiple categories:</h5>
    <img src="../images/att-drive-apps-onesheet.png" title="AT&T Example Apps" width="800">
</div>
