
<div class="container" id="main-container">
    <div style="text-align: left; color: #ffffff;" class="padding">
        <h1>Hello World!</h1>
        <p>This is AT&amp;T Drive Automotive App development UI Kit bulit to enable you -the developer, to effortlessy create apps to be depoyed on AT&amp;T Drive Automotive Services Delivery Platform. At this time this is only an UI toolkit, with a goal to by 2015 include Drive Platform APIS and become an all-around SDK.</p><p>Please select the component on the left to learn more about it. </p>
    </div>
</div>
<div class="container" id="details-container">

</div>