<div class="row">
    <div class="col-md-9">
        <div class="container" id="main-container">
           <att-menu items="items" title="Title"></att-menu>
        </div>
    </div>
    <div class="col-md-3">
        <div id="options-panel">
            <button ng-click="open()">Open me!</button>

            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="container" id="details-container">
            <att-tabset  top-position="true">
                <att-tab heading="Description">
                  <h2>Overview</h2>
                    <p>Menu custom component and it is part of the example app.</p>
                </att-tab>
                <att-tab heading="Markup">

                </att-tab>
                <att-tab heading="JavaScript">
<p>TODO: Show code and process to create menu items and dynamic view linking.</p>
                </att-tab>
            </att-tabset>

        </div>
    </div>
</div>
