<div class="row">
    <div class="col-md-9">
        <div class="container" id="main-container">
            <div class="att-modal">
                <div class="modal-header">
                    <h3 class="modal-title">This is a <strong>static representation</strong></h3>
                </div>
                <div class="modal-body">
                    <p>You can see how the modal behaves by clicking the "Open me!" button</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="ok()">OK</button>
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div id="options-panel">
            <button ng-click="open()">Open me!</button>

            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="container" id="details-container">

            <att-tabset style="height: 340px">
                <att-tab heading="Description">
                    <h2 id="overview">Overview</h2>
                    <p>Modals overlay the entire screen with a modal header, body content, and action buttons that are fixed at the bottom of the screen. Modal animations are predefined.</p>
                    <h2 id="known-issues">Known issues</h2>
                    <p>Excessive content that scrolls may not be evident to users because of how Android, iOS, and Windows Mobile hide the scrollbar by default. Screen readers may not scroll to the text that it is reading if the modal contains excessive text. Landscape mode does not have sufficient space to include a modal header, footer and body content. Therefore, it should not be treated as a normal view that the customer would use. We should assume the customer will rotate their device to portrait mode when a modal is displayed so they can view the information more easily. This is also a great reason why modals should not be used.</p>
                </att-tab>

                <att-tab heading="Markup">

                </att-tab>
                <att-tab heading="Js">

                </att-tab>
            </att-tabset>

        </div>
    </div>
</div>


