
<div class="row">
    <div class="col-md-9">
        <div class="container" id="main-container">
            <br/>
            <br/>
            <br/>

            <att-progress-bar max="max" value="dynamic">Default</att-progress-bar>

            <br/>
            <br/>
            <br/>
            <att-progress-bar animate="false" value="dynamic" type="success">Success</att-progress-bar>

            <br/>
            <br/>
            <br/>
            <att-progress-bar value="dynamic" type="warning">Warning</att-progress-bar>

            <br/>
            <br/>
            <br/>
            <att-progress-bar value="dynamic" type="danger">danger</att-progress-bar>


            <br/>
            <br/>
            <br/>
        </div>
    </div>
    <div class="col-md-3">
        <div id="options-panel">
            <button class="btn  btn-primary" type="button" ng-click="random()">Randomize</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="container" id="details-container">

            <att-tabset style="height: 340px">
                <att-tab heading="Description">

                </att-tab>

                <att-tab heading="Markup">

                </att-tab>
                <att-tab heading="Js">

                </att-tab>
            </att-tabset>

        </div>
    </div>
</div>

