
<div class="row">
    <div class="col-md-9">
        <div class="container" id="main-container">
            <input type="radio" id="radio1" name="radio" ng-model="color" value="red" />
            <label for="radio1"><span></span>Red</label>
            <br><br>

            <input type="radio" id="radio2" name="radio" ng-model="color" value="green" />
            <label for="radio2"><span></span>Green</label>
            <br><br>

            <input type="radio" id="radio3" name="radio" ng-model="color" value="blue" />
            <label for="radio3"><span></span>Blue</label>
        </div>
    </div>
    <div class="col-md-3">
        <div id="options-panel">
            <span>Selected color: </span>{{color}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="container" id="details-container">

            <att-tabset style="height: 340px">
                <att-tab heading="Description">

                </att-tab>

                <att-tab heading="Markup">

                </att-tab>
                <att-tab heading="Js">

                </att-tab>
            </att-tabset>

        </div>
    </div>
</div>


