<div class="container" id="main-container">
    
    <input type="radio" id="radio1" name="radio" ng-model="color" value="red" />
    <label for="radio1"><span></span>Red</label>
    <br><br>
    
    <input type="radio" id="radio2" name="radio" ng-model="color" value="green" />
    <label for="radio2"><span></span>Green</label>
    <br><br>
    
    <input type="radio" id="radio3" name="radio" ng-model="color" value="blue" />
    <label for="radio3"><span></span>Blue</label>

</div>

<div class="container" id="details-container">
    
    <span>Selected color: </span>{{color}}

</div>