.font-medium {
    font-family: 'omnes_attmedium', sans-serif;
}

label {
    font-weight: normal;
    color: #fff;
}

.text-white {
    color: #fff;
}

.separate-right-10 {
    margin-right: 10px;
}

.separate-top-10 {
    margin-top: 10px;
}

.separate-top-30 {
    margin-top: 30px;
}

.separate-top-70 {
    margin-top: 70px;
}

.separate-top-90 {
    margin-top: 90px;
}

.separate-bottom-10 {
	margin-bottom: 10px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.column-large {
    float: left;
    width: 60%;
}

.column-small {
    float: left;
    width: 40%;
}

.display-inline {
    display: inline-block;
}

.progress-container {
    position: relative;
    width: 65%;
}

.content-pad {
    padding: 0 24px;
    position: relative;
}

 /* SCREEN */
.screen {
    width: 768px;
    height: 470px;
    background: rgba(15, 15, 15, 1);
    display: block;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

h3.active-screen {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    text-transform: uppercase;
}

.screen.bg {
    background: url('../images/background.jpg') no-repeat;
    background-size: 768px 470px;
    overflow: hidden;
}

.screen.bg:after {
    content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      background-color: rgba(0,0,0,0.8);
}

.content {
    position: relative;
    z-index: 3;
    padding-top: 70px;
}




/* HEADER
---------------------------------------------------------------- */
.header {
    color: #ccc;
    padding: 24px 24px 0 24px;
}

.header h3.active-screen {
    font-family: 'omnes_attlight', sans-serif;
}

.app-branding {
	color: white;
}

.app-branding img {
    position: relative;
    margin-right: 5px;
}

.app-branding span {
    position: relative;
}

h1.main-title {
    font-size: 36px;
    margin: 0;
    line-height: 1;
    color: #fff;
}

h3.main-subtitle {
    font-size: 18px;
    color: #666;
    margin: 0;
}



/* Weather app */
.weather-info {
    display: inline-block;
}
.weather-info img {
    position: relative;
    top: -58px;
}
.weather-info h1 {
    display: inline-block;
    font-size: 140px;
    line-height: 1;
    margin: 0;
}

.weather-stats {
    font-size: 24px;
}

.weather-column img {
    width: 45px;
    height: 45px;
}

.weather-column.week h3 {
    margin-bottom: 0px;
}

.weather-column h3:last-child {
    margin: 0;
}

.weather-column p {
    color: #666;
    margin-bottom: 5px;
}

/* Overrides */
.att-tabs {
	height: 400px;
}

.att-tabs .nav > li.active > a,
.att-tabs .nav > li > a:hover, .att-tabs .nav > li > a:focus {
	background-color: rgba(240, 100, 20, 0.9);
}

.att-tabs .nav > li > a {
	background: rgba(240, 100, 20, 0.4);
}

.att-tabs .nav > li > a {
	font-size: 24px;
	line-height: 2.5;
	padding: 0 15px;
}

.att-tabs .tab-content {
	padding: 0 24px;
}

.att-menu ul.list li.active:before {
	background: rgba(240, 100, 20, 1);
}

.att-drawer.visible {
	height: 768px;
}