<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="lead">Congratulations!</h1>
            <p>
                You've successfully seeded your first app, and you're ready to start developing it. <br/>
                For your convenience, we've coded up some basic app structure to get you started.
            </p>

            <p>
                <strong>Make sure</strong> you use your browser's built in device emulation, and set your (emulated) screen resolution to 768x470. Click <a target="_blank" href="https://developer.chrome.com/devtools/docs/device-mode"> here</a> for additional info.
            </p>
            <p>Good luck making your app!</p>
        </div>
    </div>
</div>