.att-pin-pad {
  padding: 20px;
  background-color: rgba(15, 15, 15, .8);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .btn.btn-default{
    min-width: 0;
  }
  .left{
    position: relative;
    float: left;
    width: 50%;

    .input-fields{
      margin-top: 80px;
      width: 100%;
      padding: 0;
      height: 60px;
      border: 2px solid #ffffff;
      & *{
        border: none;
        position: relative;
        float: left;
        height: 100%;
      }
      input {
        background: transparent;
        color: white;
        font-size: 36px;
        text-align: center;
        width: 60%;
      }

      #backspace{
        width: 20%;
        color: white;
        padding: 18px 24px;
      }
      #confirm{
        padding: 5px 12px;
        width: 20%;
        color: @brand-success;
      }
    }

  }

  .right{
    width: 50%;
    position: relative;
    float: right;

    button:focus{
      border: 2px solid;
    }
  }

  .title {
    width: 100%;
    h1 {
      margin: 0;
    }
    p {
      padding-left: 2px;
      color: #bbb;
    }
  }

  .keypad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;

    .panel-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      align-self: center;
      & button {
        width: 60px;
      }

    }
  }
}
