.att-alert{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 24px;
  background-color: fade(@brand-primary, 90%);
  width: 100%;
  max-width: 768px;
  display: table;

  .alert-icon,
  .close-icon, {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    min-height: 140px;
    height: 100%;
    font-size: 24px;
    min-width: 50px;
  }

  .h1 {
    margin-top: 0;
  }

  .alert-button{
    min-width: 200px;
    .btn{
      margin-top: 20px;
    }
  }




  &.alert-info
  {
    background-color: fade(@brand-primary, 90%);
  }
  &.alert-success
  {
    background-color: fade(@brand-success, 90%);
  }

  &.alert-danger
  {
    background-color: fade(@brand-danger, 90%);
  }



  .content{
    font-size: 18px;

    p{
      margin-bottom: 0;
    }
  }

  .alert-heading{
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 0;
  }
}