.att-sim-error{
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 4001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(15,15,15,.8);

  text-align: center;




  .sim-icon{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 4002;
    display: block;
    height: 100px;
    width: 100px;
    background-color: transparent;
    background-image: url(../images/SIM%20card.png);
    opacity: .8;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale3d(.6,.6,.6);
    border-radius: 100%;
  }


  .v-align{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;

    .symbol{
      background-color: rgba(150,150,150,.9);
      border-radius: 100%;
      width: 100px;
      height: 100px;
      margin: 0 auto;
      font-size: 68px;
      color: rgba(15,15,15,.8);

      &.animated{
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
  }



  .warning-message{
    margin-top: 40px;
    font-size: 19px;
  }




}
