<div class="container" id="main-container">
    <div class="att-sim-error">
        <h2>Network connection unavailable</h2>
        <p>SIM card is missing or inactive <br/> Please contact OEM_NAME support at OEM_PHONE_NUMBER</p>
        <div class="sim-icon"></div>
        <div class="animated-backdrop"></div>


    </div>
</div>

<div id="options-panel">
    This component has no additional options.
</div>

<div class="container" id="details-container">
    <att-tabset top-position="true">
        <att-tab heading="Description">

        </att-tab>

        <att-tab heading="Markup">

        </att-tab>

        <att-tab heading="JavaScript">
            <pre class="prettyprint linenums">

            </pre>
        </att-tab>
    </att-tabset>
</div>
