<div class="container" id="main-container">
  <iframe src='#/simErroriFrame' style="width: 768px; height: 470px; border: none" name="internal" scrolling="no"></iframe>
</div>

<div id="options-panel">
    This component has no additional options.
</div>

<div class="container" id="details-container">
    <att-tabset top-position="true">
        <att-tab heading="Description">

        </att-tab>

        <att-tab heading="Markup">

        </att-tab>

        <att-tab heading="JavaScript">
            <pre class="prettyprint linenums">

            </pre>
        </att-tab>
    </att-tabset>
</div>
