<br/>
<table>
 <tr>
    <td><h3><span class="ng-binding">VEHICLE</span></h3></td><td><att-toggle-switch ng-model="subscribedVehicleInfo" on-change="onChangeVI()"></att-toggle-switch><!--<td>Status: {{subscribedVehicleInfo}}</td>-->
</tr>
<tr>
    <td><h3><span class="ng-binding">NAVIGATION</span></h3></td><td><att-toggle-switch ng-model="subscribedNavigation" on-change="onChangeNav()"></att-toggle-switch></td><!-- <td>Status: {{subscribedNavigation}}</td> -->
</tr>
<tr>
    <td><h3><span class="ng-binding">NOTIFICATIONS</span></h3></td><td><att-toggle-switch ng-model="subscribedNotifications" on-change="onChangeNotif()"></att-toggle-switch></td><!-- <td>Status: {{subscribedUserInfo}}</td> -->
</tr>
<!--  <tr><td></td><td> <button ng-click="resetSubscriptions()" class="btn btn-danger">Reset</button></td></tr> -->

</table>
