/* Space out content a bit */
body {
  margin: 0;
    padding: 0;
    padding-top: 1em;

}

#page-wrapper{
    width: 1366px;
}



#main-container{
    position: relative;
    float: left;
    clear: none;
    background-image: url(/images/Drive-Demo-App-Background.jpg);
    background-repeat: repeat;
    padding: 0;
    height: 470px;
    width: 768px;
    max-width: 768px;
    color: #ffffff;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.49);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.49);
    overflow: hidden;
}

#main-container > .ng-scope{
    height: 470px;
}

#details-container{
    margin-top: 2em;
    margin-bottom: 4em;
    background-color: #f6f6f6;
    position: relative;
    float: left;
    clear: both;

    padding: 0;
    height: 100%;
    width: 768px;


    color: #333;
/*
    -webkit-box-shadow: inset 0px 0px 4px 2px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    inset 0px 0px 4px 2px rgba(50, 50, 50, 0.52);
    box-shadow:         inset 0px 0px 4px 2px rgba(50, 50, 50, 0.52);
  */
}

#details-container .tab-content{
    color: #333333;
}


#sidebar ul{
    list-style-type: none;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 1366px){
    #sidebar,
    #options-panel
    {
        font-size: 16px;
    }

}



#options-panel{
    position: relative;
    float: left;
    clear: none;
    margin-left: 1em;

    width: 240px;
    background-color: #f9f9f9;
    padding: 1em;
/*    -webkit-box-shadow: inset 0px 0px 4px 2px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    inset 0px 0px 4px 2px rgba(50, 50, 50, 0.52);
    box-shadow:         inset 0px 0px 4px 2px rgba(50, 50, 50, 0.52);
    height: 470px;
    */
    overflow: auto;


}

pre{
    margin-left: 0;
    padding-left: 0;
}


.padding {
  padding: 20px;
}

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 0px solid #888 !important; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 !important; } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }

.tab-pane h1 {font-size: 20px;}
.tab-pane h2 {font-size: 18px;}
.tab-pane p {font-size: 14px;}
.tab-pane pre {font-size: 14px;}
.tab-pane ul li {font-size: 14px;}

#sidebar ul {
    padding-left: 0px; 
    margin-left: 0;
}
.tab-pane {
padding: 10px;
}
@media (max-width: 1000px) {
.logo img {
    height: 32px;
    width: 180px;
 }   
.nav ul li {
    display: inline;
}
.nav ul li:after {
    content: " - ";
}
#options-panel {
    display: none;
}
}

.footer {
    font-size: 14px;
    text-align: center;
}