
.css-form input.ng-invalid.ng-dirty {
 	background-color: #FA787E;
 }

 .css-form input.ng-valid.ng-dirty {
 	background-color: #78FA89;
 }

.change {
 background-color: blue;
 -webkit-transition: 1s linear;
 /*to only change opacity*/
 /*-webkit-transition: opacity 1s linear*/
 -moz-transition: 1s linear;
 -o-transition: 1s linear;
 transition: 1s linear;
 opacity: 1;
}

.change-up {
 background-color: green;
 -webkit-transition: 1s linear;
 /*to only change opacity*/
 /*-webkit-transition: opacity 1s linear*/
 -moz-transition: 1s linear;
 -o-transition: 1s linear;
 transition: 1s linear;
 opacity: 1;
}

.myDiv{
 -webkit-transition: 1s linear;
 /*to only change opacity*/
 /*-webkit-transition: opacity 1s linear*/
 -moz-transition: 1s linear;
 -o-transition: 1s linear;
 transition: 1s linear;
 opacity: 1;
}

.leftcolumn{
 width:200px;
 background-color: FUCHSIA;
}

.notification{
 background-color: red;
}

.table-condensed{
 margin-left:10px;
 margin-top:0px;
 margin-bottom:0px;
}

.headingtext{
 margin-left:5px;
}

.btn-primary{
 margin-left:10px;
}
