<div class="content-pad">
        <h1 class="main-title">AccuWeather</h1>
        <h3 class="main-subtitle">Weather for Life</h3>
        <div class="row">
            <div class="col-md-7">
                <p class="separate-top-30 text-white">Stay connected to the latest in weather with AccuWeather – Weather for Life. This completely rebuilt, customizable weather app features MinuteCast™, the leading minute-by-minute weather forecast that is hyper-localized to your exact street address.</p>
            </div>
            <div class="col-md-5 text-center">
                <img src="images/app-accuweather.png" class="separate-top-30" />
            </div>
        </div>
        <p style="position: absolute; top: 350px; color: #ccc">Copyright AccuWeather &amp; AT&amp;T, 2014.</p>
</div>