<att-tabset>
    <att-tab heading="Now">
        
        <h1 class="main-title">Atlanta</h1>
        <h3 class="main-subtitle">Monday, August 18</h3>

        <div class="column-large separate-top-70">
            <div class="weather-info separate-bottom-10">
                <img class="separate-right-10" src="images/icon-sun.png" />
                <h1>72&deg;</h1>
            </div>
            <div class="progress-container">
                <att-progress-bar type="warning" max="75" value="currentTemp">Chance of rain</att-progress-bar>
            </div>
        </div>
        <div class="column-small text-right separate-top-70">
            <div class="weather-stats">
                <p>
                    Precipitation: <span class="font-medium">{{precipitation}}%</span><br>
                    Humidity: <span class="font-medium">{{humidity}}%</span><br>
                    Wind: <span class="font-medium">{{wind}}mph</span>
                </p>
            </div>
        </div>

    </att-tab>
    <att-tab heading="Hourly">

        <h1 class="main-title">Atlanta</h1>
        <h3 class="main-subtitle">Monday, August 18</h3>
        <div class="row separate-bottom-10">
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">3:00</h3>
                <img src="images/icon-sun.png" class="separate-right-10">
                <h3 class="display-inline">73&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">6:00</h3>
                <img src="images/icon-sun.png" class="separate-right-10">
                <h3 class="display-inline">71&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">9:00</h3>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">68&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">12:00</h3>
                <img src="images/icon-sun.png" class="separate-right-10">
                <h3 class="display-inline">70&deg;</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">15:00</h3>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">73&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">18:00</h3>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">68&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">21:00</h3>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">70&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column">
                <h3 class="font-medium">0:00</h3>
                <img src="images/icon-thunder.png" class="separate-right-10">
                <h3 class="display-inline">72&deg;</h3>
            </div>
        </div>

    </att-tab>
    <att-tab heading="Weekly">

        <h1 class="main-title">Atlanta</h1>
        <h3 class="main-subtitle">Week of August 18</h3>
        <div class="row">
            <div class="col-md-3 text-center weather-column week">
                <h3 class="font-medium">Monday</h3>
                <p>Aug 18</p>
                <img src="images/icon-sun.png" class="separate-right-10">
                <h3 class="display-inline">73&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column week">
                <h3 class="font-medium">Tuesday</h3>
                <p>Aug 19</p>
                <img src="images/icon-sun.png" class="separate-right-10">
                <h3 class="display-inline">71&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column week">
                <h3 class="font-medium">Wednesday</h3>
                <p>Aug 20</p>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">68&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column week">
                <h3 class="font-medium">Thursday</h3>
                <p>Aug 21</p>
                <img src="images/icon-sun.png" class="separate-right-10">
                <h3 class="display-inline">70&deg;</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center weather-column week">
                <h3 class="font-medium">Friday</h3>
                <p>Aug 22</p>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">73&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column week">
                <h3 class="font-medium">Saturday</h3>
                <p>Aug 23</p>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">68&deg;</h3>
            </div>
            <div class="col-md-3 text-center weather-column week">
                <h3 class="font-medium">Sunday</h3>
                <p>Aug 24</p>
                <img src="images/icon-cloudy.png" class="separate-right-10">
                <h3 class="display-inline">70&deg;</h3>
            </div>
        </div>

    </att-tab>
</att-tabset>
