<att-tabset>
    <att-tab heading="Now">
        
        <h1 class="main-title">Atlanta</h1>
        <h3 class="main-subtitle">{{currentDate | date: 'EEEE, MMMM dd'}}</h3>

        <div class="column-large separate-top-70">
            <div class="weather-info separate-bottom-10">
                <img class="separate-right-10" src="images/icon-sun.png" />
                <h1>{{weatherStats.currentTemp}}&deg;</h1>
            </div>
            <div class="progress-container">
                <att-progress-bar type="warning" max="100" value="weatherStats.chanceOfRain">Chance of rain</att-progress-bar>
            </div>
        </div>
        <div class="column-small text-right separate-top-70">
            <div class="weather-stats">
                <p>
                    Precipitation: <span class="font-medium">{{weatherStats.precipitation}}%</span><br>
                    Humidity: <span class="font-medium">{{weatherStats.humidity}}%</span><br>
                    Wind: <span class="font-medium">{{weatherStats.wind}}mph</span>
                </p>
            </div>
        </div>

    </att-tab>
    <att-tab heading="Hourly">

    </att-tab>
    <att-tab heading="Weekly">

    </att-tab>
</att-tabset>
