<div style="background-color: gray;">
    <input type="radio" id="radio1" name="radio" ng-model="temperature" value="celsius" />
    <label for="radio1"><span></span>Celsius</label>
    <br>
    <br>

    <input type="radio" id="radio2" name="radio" ng-model="temperature" value="fahrenheit" />
    <label for="radio2"><span></span>Fahrenheit</label>
    <br>
    <br>

    <label>Use my location</label><br />
    <att-toggle-switch ng-click="change()" ng-model="location"></att-toggle-switch>

    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
