<div class="att-alert" ng-class="type && 'alert-' + type" ng-hide="closeAlert" ng-click="close()">
    <div class="content">
        <h1 class="alert-heading" ng-bind="title"></h1>
        <p class="alert-text" ng-bind="text"></p>
    </div>
    <div class="alert-button">
        <div class="btn btn-default" ng-show="showConfirmationBtn" ng-click="onClick()">{{buttonText}}</div>
    </div>
    <span class="alert-icon {{type}}" ng-show="showIcon && !showConfirmationBtn">
        <i class="fa fa-ils"></i>
    </span>
</div>