<div class="att-grid">
  <div class="row">
    <div class="col col-content">
      <div class="att-grid">
        <div class="row">
          <div class="col">
            <h2>Grid system</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              The SDK supports a flexbox-based grid system. It's a great tool for defining your app's layout, and it works well in conjuction with the <strong>att-content</strong> directive.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Usage:</h3>
            <att-dynamic-content data-url="/views/grid/usage.html" markup="true"></att-dynamic-content>
          </div>
          <div class="col note">
            <h3>Note</h3>
            <p>If you use the <strong>att-content</strong> directive, you don't need to specify the "att-grid" wrapper, since it's already included.</p>
          </div>
        </div>
      </div>
      <div class="att-grid">
        <div class="row">
          <div class="col">
            <h3>Basic grids</h3>
            <p>Nest as many rows and columns as you need. Simply add columns you want in a row, and they'll evenly take up the available space.</p>
          </div>
        </div>
      </div>
      <div class="att-grid grid-demo">
        <div class="row">
          <div class="col">
            <div class="box">.col</div>
          </div>
          <div class="col">
            <div class="box">.col</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="box">.col</div>
          </div>
          <div class="col">
            <div class="box">.col</div>
          </div>
          <div class="col">
            <div class="box">.col</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="box">.col</div>
          </div>
          <div class="col">
            <div class="box">.col</div>
          </div>
          <div class="col">
            <div class="box">.col</div>
          </div>
          <div class="col">
            <div class="box">.col</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="box">Full-height, even when the content doesn't fill the space.</div>
          </div>
          <div class="col">
            <div class="box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis velit non gravida venenatis. Praesent consequat lectus purus, ut scelerisque velit condimentum eu. Maecenas sagittis ante ut turpis varius interdum. Quisque tellus ipsum, eleifend non ipsum id, suscipit ultricies neque.</div>
          </div>
        </div>
      </div>
      <div class="att-grid">
        <div class="row">
          <div class="col">
            <h3>Individual sizing</h3>
            <p>
              You can explicitly state the width of a column if for example you'd want specific columns to be larger than the others in the same row. By default each column will evenly take up the available area.
            </p>
          </div>
        </div>
      </div>
      <div class="att-grid grid-demo">
        <div class="row">
          <div class="col col-50">.col.col-50</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
        </div>
        <div class="row">
          <div class="col">.col</div>
          <div class="col col-33">.col.col-33</div>
        </div>
        <div class="row">
          <div class="col col-25">.col.col-25</div>
          <div class="col">.col</div>
          <div class="col col-33">.col.col-33</div>
        </div>
      </div>
      <div class="att-grid">
        <div class="row">
          <div class="col">
            <att-dynamic-content data-url="/views/grid/sizing.html" markup="true"></att-dynamic-content>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              To specify the percentage of the width for a column to take up, use one of these classes:
            <table class="grid-demo-table">
              <thead>
              <tr>
                <th>Class</th>
                <th>Percentage of the width</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.col-10</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>.col-20</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>.col-25</td>
                <td>25%</td>
              </tr>
              <tr>
                <td>.col-33</td>
                <td>33%</td>
              </tr>
              <tr>
                <td>.col-50</td>
                <td>50%</td>
              </tr>
              <tr>
                <td>.col-66</td>
                <td>66%</td>
              </tr>
              <tr>
                <td>.col-75</td>
                <td>75%</td>
              </tr>
              <tr>
                <td>.col-80</td>
                <td>80%</td>
              </tr>
              <tr>
                <td>.col-90</td>
                <td>90%</td>
              </tr>
              </tbody>
            </table>
            </p>
          </div>
        </div>
      </div>
      <div class="att-grid">
        <div class="row">
          <div class="col">
            <h3>Horizontal alignment</h3>
            <p>Any column can be offset from the left by the same percentages that apply to column sizing.</p>
          </div>
        </div>
      </div>
      <div class="att-grid grid-demo">
        <div class="row">
          <div class="col col-33 col-offset-33">.col.col-offset-33</div>
          <div class="col">.col</div>
        </div>
        <div class="row">
          <div class="col col-33">.col</div>
          <div class="col col-33 col-offset-33">.col.col-offset-33</div>
        </div>
        <div class="row">
          <div class="col col-33 col-offset-67">.col.col-offset-67</div>
        </div>
      </div>

      <div class="att-grid">
        <div class="row">
          <div class="col">
            <att-dynamic-content data-url="/views/grid/h-alignment.html" markup="true"></att-dynamic-content>
          </div>
        </div>
      </div>

      <div class="att-grid">
        <div class="row">
          <div class="col">
            <h3>Vertical alignment</h3>
            <p>Since att-grid is based on flexbox, Vertically aligning stuff is really easy. Just append .col-center, .col-top or .col-bottom class to your columns.</p>
          </div>
        </div>
      </div>


      <div class="att-grid grid-demo">
        <div class="row">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row">
          <div class="col col-top">.col</div>
          <div class="col col-center">.col</div>
          <div class="col col-bottom">.col</div>
          <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-top">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-center">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">1<br>2<br>3<br>4</div>
        </div>

        <div class="row row-bottom">
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">.col</div>
          <div class="col">1<br>2<br>3<br>4</div>
        </div>
      </div>


      <div class="att-grid">
        <div class="row">
          <div class="col">
            <att-dynamic-content data-url="/views/grid/v-alignment.html" markup="true"></att-dynamic-content>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
