<div class="container" id="main-container">
    <div class="padding">
        Active:
        <br>
        <att-toggle-switch ng-model="customModel"></att-toggle-switch>
        <br>
        Dissabled:
        <br>
        <att-toggle-switch ng-model="customModel2" disabled></att-toggle-switch>
    </div>
</div>

<div id="options-panel">
    This component has no additional options.
</div>

<div class="container" id="details-container">
    <att-tabset top-position="true">
        <att-tab heading="Description">
            <att-dynamic-content data-url="/views/toggleSwitch/readme.md" markdown="true" linenums="false"></att-dynamic-content>
        </att-tab>

        <att-tab heading="Markup">
            <att-dynamic-content data-url="/views/toggleSwitch/toggleSwitch.html" linenums="true"></att-dynamic-content>
        </att-tab>

        <att-tab heading="JavaScript">
            <pre class="prettyprint linenums">
                <div ng-include=" '/scripts/controllers/toggleSwitch.js' "></div>
            </pre>
        </att-tab>
    </att-tabset>
</div>
