<div class="content-pad">
    <div class="separate-top-30">
    <input type="radio" id="radio1" name="radio" ng-model="temperature" value="celsius" />
    <label for="radio1"><span></span>Celsius</label>
    <br>
    <br>
    <input type="radio" id="radio2" name="radio" ng-model="temperature" value="fahrenheit" />
    <label for="radio2"><span></span>Fahrenheit</label>
    </div>

    <div class="separate-top-90">
        <label class="font-medium">Use my location</label><br />
        <att-toggle-switch ng-model="location"></att-toggle-switch>
    </div>
</div>
