<div class="container" id="main-container">
  <div class="padding">
    <div ng-controller="ButtonsCtrl">
        <button class="btn btn-default">Default</button> &nbsp;
        <button class="btn btn-primary">Primary</button> &nbsp;
        <button class="btn btn-success">Success</button> <br> <br>
        <button class="btn btn-warning">Warning</button> &nbsp;
        <button class="btn btn-danger">Danger</button> &nbsp;
        <button disabled class="btn">Disabled</button> &nbsp;
    </div>
  </div>
</div>

<div id="options-panel">
    This component has no additional options.
</div>

<div class="container" id="details-container">
    <att-tabset top-position="true">
        <att-tab heading="Description">
            <att-dynamic-content data-url="/views/buttons/readme.md" markdown="true" linenums="false"></att-dynamic-content>
        </att-tab>

        <att-tab heading="Markup">
            <att-dynamic-content data-url="/views/buttons/buttons.html" linenums="true" markup="true"></att-dynamic-content>
        </att-tab>

        <att-tab heading="JavaScript">
            <pre class="prettyprint linenums">
                <div ng-include=" '/scripts/controllers/buttons.js' "></div>
            </pre>
        </att-tab>
    </att-tabset>
</div>