<div class="container" id="main-container">
    <div class="padding">
        <input type="checkbox" id="radio1" name="radio" ng-model="checkbox"  />
        <label for="radio1"><span></span>Check</label>

    </div>
</div>

<div id="options-panel">
    <span>Checked state: </span>{{checkbox}}
</div>

<div class="container" id="details-container">
    <att-tabset top-position="true">
        <att-tab heading="Description">

        </att-tab>

        <att-tab heading="Markup">

        </att-tab>

        <att-tab heading="JavaScript">

        </att-tab>
    </att-tabset>
</div>